:root{
    --bgSubMenu: darkgray;
    --bgAbrirComo: rgb(71, 71, 71);
    --bgHover: #9391ff;
    --bodyColor: #782DC8;
    --colorGreen: #49a09d;
}

*{
    margin: 0px;
    padding: 0px;
}

body, html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 98vw;
    height: 100vh;
}

body { 
    background: linear-gradient(to bottom, var(--bodyColor), var(--colorGreen));
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bgSubMenu);
    padding:  10px 0px;
    height: 40px;
    width: 100vw;
}

header > span#burguer {
    color: white;
    font-size: 40px;
}

header > menu {
    display: none;
    position: absolute;
    width: 50vw;
    top: 9%;
}

header > menu > ul {
    background-color: rgb(246, 252, 253);
}

header > menu > ul > li > button {
    font-size: 15px;
    font-weight: bold;
    color: var(--bgAbrirComo);
    width: 100%;
    height: 40px;
    border: 1px solid var(--colorGreen);
    padding: 10px;
}

header > menu > ul > li > ul {
    background-color: rgb(200, 200, 200);
    /* background-image: linear-gradient(to right, #FFF6AE, #FFABF7); */
}

header > menu > ul > li > ul > li > button, header > menu > ul > li > ul > li > a {
    text-decoration: none;
    font-size: 15px;
    height: 40px;
    display: block;
    padding: 10px 0px;
    text-align: center;
    border: 1px solid var(--bgAbrirComo);
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    color: var(--bgAbrirComo);
    height: 100%;
}

header > span.botoesInforme {
    padding: 0px 10px 0px 10px;
}

header > span.botoesInforme > a {
    text-decoration: none;
    border-radius: 20px;
    padding: 11px;
    margin-right: 10px;
    background-color: var(--colorGreen);
    color: white;
}

header > span.botoesInforme > a > span {
    position: relative;
    top: 15%;
    color: var(--colorGreen);
}


header > span.botoesInforme > a#entrar {
    background-color: white;
    color: var(--colorGreen);
    border: 2px solid var(--colorGreen);
}




