@charset "UTF-8";

:root{
    --bgMenu: #c8c8c8;
    --bgSubMenu: darkgray;
    --bgTripleMenu: rgb(71, 71, 71);
    --bgHover: #9391ff;
    --bodyColor: #782DC8;

    --font-nome: sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--bodyColor) url(../img/khbg.png) center center no-repeat fixed;
    background-size: auto;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.sigla{
    font-size: 10px;
}

.externo::after{
    content: '\00A0\1F4CC';
}


nav.dropdownMenu > ul{
    list-style: none;
    background-color: var(--bgMenu);
    display: flex;
    text-align: center;
    justify-content: center;
}

nav.dropdownMenu > ul > li{
    position: relative;
    margin: 0px 10px;
}

nav.dropdownMenu > ul > li > button{
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
}

nav.dropdownMenu > ul > li > button:hover{
    background-color: var(--bgHover);
    border-radius: 10px;
}

nav.dropdownMenu > ul > li > button#btnDominio::before{
    content: '\2714\00A0\00A0';
}

nav.dropdownMenu > ul > li > button#btnEmail::before{
    content: '\2709\00A0\00A0';
}

nav.dropdownMenu > ul > li > button#btnRede::before{
    content: '\01F310\00A0\00A0';
}

nav.dropdownMenu > ul > li > button#btnIntranet::before{
    content: '\1F451\00A0\00A0';
}

nav.dropdownMenu > ul > li > button#btnEncurtador::before{
    content: '\1F517\00A0\00A0';
}

nav.dropdownMenu > ul > li > button#btnVideos::before{
    content: '\1F3A5\00A0\00A0';
}

nav.dropdownMenu > ul > li > ul{
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    background-color: var(--bgSubMenu);
    border: black 1px solid;
}

nav.dropdownMenu > ul > li > ul> li{
    width: 150px; 
}

nav.dropdownMenu > ul > li > ul> li > button{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    transition-duration: 0.1s;
}

nav.dropdownMenu > ul > li > ul> li > a{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    transition-duration: 0.1s;
    text-decoration: none;
    font-size: 13px;
}

nav.dropdownMenu > ul > li > ul> li > a:hover{
    text-decoration: underline;
    color: var(--bgTripleMenu);
}

nav.dropdownMenu > ul > li > ul> li > button:hover{
    color: var(--bgTripleMenu);
}

nav.dropdownMenu > ul > li > ul> li > ul{
    list-style: none;
    display: none;
    background-color: var(--bgTripleMenu);
}


nav.dropdownMenu > ul > li > ul> li > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

nav.dropdownMenu > ul > li > ul> li > ul > li > a:hover{
    color: white;
    text-decoration: underline;
    font-size: 12px;
}

main > section#section-iframe > iframe {
    margin: 20px;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 60vw;
    height: 90vh;
    z-index: 0;
    border: solid black 2px;
    background: white url(../img/khiframe.png) center center no-repeat local;
}


